* {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    background: #333;
}
body {
    margin: 0;
}
header, footer {
    padding: 2em;
}


/*
  HEADER AREA STYLES
*/
header {
    color: gold;
    background: lightgrey;
}


/*
  HERO AREA STYLES
*/
#hero{
    background-color: azure;
}


/*
  FOOTER AREA STYLES
*/
footer {
    color: gray;
    text-align: center;
}



/************** MOBILE STYLING **************/
@media (min-width: 600px) {


    /*
        FOOTER AREA STYLES
    */
    footer {
        clear: both;
    }
}